/* Base styles */

#map { 
min-height: 670px;
margin:0px;
padding:0px;
}

/* Marker styles */
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Popup styles */
.mapboxgl-popup-content {
    border-radius: 3px;
    padding: 10px;
    max-width: 300px;
}

.custom-popup .mapboxgl-popup-content {
    padding: 15px;
}

.custom-popup h3 {
    margin-top: 0;
    color: #336699;
    font-weight: 500 !important;
    line-height: 1.2em !important;
}

.mapboxgl-popup-content {
         font: 12px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
         line-height: 18px;
}
.mapboxgl-popup-content p {
    margin-top:10px;
    line-height: 15px !important;
}

.custom-popup img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;

}

.custom-popup .project-link {
    display: inline-block;
    margin-top: 10px;
    color: #336699;
    font-weight: bold;
}

.custom-popup .project-details {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
}

/* Legend styles */
.legend {
    background-color: white;
    border-radius: 3px;
    bottom: 35px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
    max-width: 300px;
}

.legend h4 {
    margin: 0 0 10px;
    font-size: 16px;
}

.legend div {
    clear: both;
    margin-bottom: 5px;
}

.legenddot {
    display: block;
    float: left;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

.legenddot.blue { background-color: #2E86C1; }
.legenddot.yellow { background-color: #F1C40F; }
.legenddot.red { background-color: #CB4335; }
.legenddot.gray { background-color: #D2D1CD; }

.legend .close-btn {
    position: absolute;
    top: 3px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.show-legend-btn {
    position: absolute;
    bottom: 35px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.legend .toggle-radius-btn {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007cbf;
    color: white;
    border: none;
    border-radius: 3px;
}

.legend-description {
    color: #aaa;
    font-size: 0.8em;
    line-height: 1.1em;
    margin-bottom: 5px;
}

#radius-text {
    display: none;
}

/* Map type toggle styles */
.map-type-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Error message styles */
.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

/* Responsive styles */
@media (max-width: 768px) {
    .legend {
        width: 100%;
        max-width: none;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 0;
        padding: 15px 15px 35px 15px;
        box-sizing: border-box;
        border:  1px solid #ccc;
    }

    .legend h4 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .legend div {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .legenddot {
        margin-right: 8px;
        margin-top: 3px;
    }

    .legend-description {
        margin-bottom: 10px;
    }

    .show-legend-btn {
        bottom: 10px;
        right: 45px;
    }

    .map-type-toggle {
        top: 10px;
        left: 10px;
    }
    .mapboxgl-ctrl-scale {
        display: none;
    }

    .custom-popup .mapboxgl-popup-content {
        max-width: 90%;
        width: 300px;
    }
}